@import "./vars";

/**nosotros**/

.about{
    width: 100%;
    padding: 45px 0px;
    & img{
        height: 500px;
        width: 420px;
        border-radius: 5px;
        @include tablet-ajustes{
            &{
                height: 100%;
                width: 100%;
                padding: 10px;
                padding-top: 0;
            }
        }
        @include tabletgrande{
            &{
                width: 100%;
                height: 100%;
            }
        }
    }
}

.about-text{
    width: 550px;
    & h1{
        color: map-get($estilos, negro);
        font-size: 80px;
        text-transform: capitalize;
        margin-bottom: 20px;
        @include tablet-ajustes{
            &{
                font-size: 52px;
                margin-bottom: 8px;
            }
        }
    }
    & p{
        color: map-get($estilos, negro);
        letter-spacing: 1px;
        line-height: 28px;
        font-size: 18px;
        margin-bottom: 45px;
        @include tablet-ajustes{
            &{
                width: 400px;
                margin: auto;
            }
        }
    }
    @include tablet-ajustes{
        &{
            text-align: map-get($estilos, centro);
            margin: auto;
        }
    }
    @include tabletgrande{
        &{
            text-align: map-get($estilos, centro);
        }
    }
}

.main-about{
    background: map-get($estilos, blanco);
    border-radius: 5px;
    height: 560px;
    width: 1063px;
    max-width: 95%;
    margin: 4rem auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 10px 10px 18px -8px #aaaaaa, -10px -10px -18px 8px #ffffff;
    @include tablet-ajustes{
        &{
            display: grid;
            grid-template-rows: repeat(2,50%);
            width: 100%;
            height: 1000px;
            margin-top: 2rem;
            overflow: hidden;
            height: 1150px;
        }
    }
    @include tabletgrande{
        &{
            flex-direction: column;
            height: 1250px;
        }
    }
}

.titulos{
    color: map-get($estilos, negro);
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
    @include tablet-ajustes{
        &{
            font-size: 20px;
            margin-bottom: 10px;
        }
    }
}

.span-jugos{
    color: map-get($estilos, dorado-claro);
}

.boton-about{
    background-color: map-get($estilos, dorado-claro);
    color: map-get($estilos, blanco);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    &:hover{
        color: #000;
        background: transparent;
        border: 2px solid #e3e938;
        cursor: pointer;
    }
    @include tablet-ajustes{
        &{
            margin-top: 20px;
        }
    }
    @include tabletgrande{
        &{
            margin-bottom: 20px;
        }
    }
}
