@import "./vars";

.ctn-p--g{
    display: grid;
    grid-template-areas: "titulo" "c1";
}

.contenedor-titulo{
    grid-area: titulo;
    display:flex;
    justify-content: center;
    margin-top: 1.5rem;
    font-size: 22px;
    text-decoration: underline;
}

.contenedor-seccion{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-area: c1;
    margin-top: 1.5rem;
    justify-content: center;
    @include laptop{
        &{
            grid-template-columns: repeat(2, 300px);
            margin: auto;
            margin-top: 10px;
        }
    }
    @include tablet{
        &{
            grid-template-columns: repeat(2, 300px);
            margin: auto;
            margin-top: 10px;
        }
     }
     @include tablet-ajustes{
        &{
            grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
        }
     }
}

.carta{
    color: map-get($estilos, negro);
    background-color:map-get($estilos, blanco);
    width: 270px;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
    border: 2px solid #fff;
    transition: all 0.25s ease;
    max-height: 399px;
    & h2{
        font-size: 21px;
        padding: 5px;
    }
    & p{
        padding-top: 5px;
        width: 245px;
        margin: auto;
        color: map-get($estilos, negro);
    }
    
    & .btn-carta{
        background-color: map-get($estilos, negro);
        color: map-get($estilos, blanco);
        padding: 10px 20px;
        display: block;
        text-align: center;
        border: 2px solid #ffffff;
        border-radius: 0 0 15px 15px;
        margin-top: 30px;
        font-size: 20px;
    }
    
    &:hover{
        transform: scale(1.07);
        color: map-get($estilos, negro);
    }
}

.carta-imagen{
    height: 150px;
    margin-bottom: 15px;
    background-size:cover;
    border-radius: 15px 15px 0 0;
}

.car-1{
    background-image: url(../img/burger.jpg);
}

.car-2{
    background-image: url(../img/Hamburguesa_piña.jpg);
}

.car-3{
    background-image: url(../img/polloplancha.jfif);
}

.car-4{
    background-image: url(../img/hamburguesa_tocino.jpg);
}

.car-5{
    background-image: url(../img/hamburguesa_chorizo.jpg);
}

.car-6{
    background-image: url(../img/hamburguesa_res.jpg)
}

