@import "./vars";

/**Contacto-seccion**/

.contacto-section{
    padding: 80px 0;
    text-align: map-get($estilos, centro);
    display: flex;
    background:map-get($estilos, blanco);
    border-radius: 5px;
    width: 800px;
    margin: 2rem auto;
    margin-top: 6rem;
    & h1{
        font-size: 20px;
        color: map-get($estilos, negro);
        margin-bottom: 40px;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-weight: 400;
        @include tablet-ajustes{
            &{
                text-align: map-get($estilos, centro);
            }
        }
    }
    @include tablet-ajustes{
        &{
            height: 100%;
            width: calc(100% - 1rem);
            margin: auto;
            margin-top: 3rem;
        }
    }
}

.contenedor-contacto{
    max-width: 690px;
    margin: auto;
    padding: 0 20px;
}

.nombre, .apellido, .numero, .email{
    @include tablet-ajustes{
        &{
            width: 100%;
        }
    }
}

.apellido{
    width: 270px;
}

.numero{
    width: 300px;
    margin-right: 30px;
}

.email{
    width: 270px;
}

.mensaje{
    min-width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.dr-1:hover{
    background: map-get($estilos, negro);
}

.nv-ca{
    margin: auto;
    .nv-ca img{
        margin-left: 10px;
        @include tabletgrande{
            &{
                display: none;
            }
        }
        @include tablet{
            &{
                display: none;
            }
        }
    }
}

.n1{
    margin-right: 10px;
}

.n2{
    margin-right: 10px;
}

.n3{
    margin-right: 10px;
}

