@import "./vars";

.logo-hamb{
    @include tablet{
        &{
            display: none;
        }
    }
}

.menu-vertical{
    position: absolute;
    display: none;
    background-color: map-get($estilos, negro);
    & a:hover{
        color:map-get($estilos, cafe);
    }
}

/**Hero section**/

.button{
    background-color: map-get($estilos, negro);
    padding: 10px 20px 10px 20px;
    border: 2px solid map-get($estilos, blanco);
    display: inline-block;
    transition: all 0.25s ease;
    &:hover{
        transform: scale(1.2);
    }
}

.hero-imagen{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0, 0.7)), url(../img/hamburguesa-papel-pintado-2880x1620_52.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    @include tablet{
        &{
            background-position: right;
        }
    }
}

.hero-texto{
    color: map-get($estilos, blanco);
    text-align: map-get($estilos, centro);
    & h1{
        font-size: 50px;
        @include tablet{
            &{
                font-size: 40px;
            }
        }
    }
    & p{
        font-size: 30px;
        font-weight: 500;
        line-height: 35px;
        margin-bottom: 2rem;
        margin-top: 1rem;
        @include tablet{
            &{
                font-size: 23px;
                line-height: 31px;
            }
        }
        @include phone{
            &{
                width: 290px;
                margin: auto;
                margin-bottom: 2rem;
                margin-top: 1rem;
            }
        }
    }
}

/**footer**/

.footer-pagina{
    background-color: map-get($estilos, negro);
    margin-top: 3rem;
    padding-top: 4rem;
    display:flex;
    justify-content: center;
    text-align: map-get($estilos, centro);
}

.icono{
    position: relative;
    bottom: 55px;
    & a{
        color:map-get($estilos, blanco);
        width: 50px;
        margin: 0px 15px 0px 15px;
    }
    & a:hover{
    color: #080914;
}
}

.icono-texto{
    margin-top: 10px;
}

.formulario-1{
    font-family: 'Source Code Pro', monospace;    margin-left: 15px;
}

.contenedor-iconos{
    margin: 10px;
}



