/**SECCION IMAGEN**/

.seccion-imagen{
    margin: 4rem auto auto auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0, 0.7)), url(../img/foto-abajo.jpg);
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items:center;
    position:relative;
}
.texto-abajo{
    margin-left: 4rem;
    line-height: 40px;
    justify-content: flex-start;
}
.btn-abajo{
    font-size: 16px;
    transition: all 0.25s ease;
    position: absolute;
    margin-top: 10rem;
    margin-left: 4rem;
    &:hover{
        color: #fff;
    }
}

.tst-bg{
    background: rgba(255, 255, 255, 0.05);
}

.button:hover{
    color: #fff;
}